body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.box {
    margin: 0 auto;
    background-color: aqua;
    width: 350px;
    // .box_title
    &_title {
        text-align: center;
    }
    // .box_button
    
}
.list {
    padding-bottom: 10px;
    // .boxlist_item
}
.panel{
    margin: 0 auto;
    width: 250px;
    &_button {
        background-color: azure;
        border: 0px;
        &:active{
            background-color: rgb(166, 206, 206);
        }
    }
    // .box_input
    &_input {
        border: 0px;
    }
}